<div class="container">
  <div class="loginForm">
      <p>
        <dx-select-box [rtlEnabled]="true" #selectBox [items]="['eva', 'batel', 'anna', 'danielb','innal','davidb','maria','batyag','urik', 'maors', 'ahuvar']"> </dx-select-box>
      </p>
      <p>
        <dx-button
            stylingMode="contained"
            text="התחבר"
            type="normal"
            [width]="120"
            (onClick)="onClick(selectBox.value)"
          >
          </dx-button>
      </p>
  </div>
</div>
